{
  "singleQuote": true,
  "semi": false,
  "printWidth": 100,
  "trailingComma": "es5",
  "bracketSameLine": false,
  "vueIndentScriptAndStyle": false,
  "plugins": ["prettier-plugin-vue"],
  "overrides": [
    {
      "files": "*.vue",
      "options": {
        "singleAttributePerLine": true
      }
    }
  ]
}
