/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

<<<<<<< HEAD
body,
html {
=======
body, html {
>>>>>>> d1b1fd48a20475537a0cd78cf6d3c747f9b8ac43
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.dp__main * {
  height: 49px;
}
<<<<<<< HEAD
=======

>>>>>>> d1b1fd48a20475537a0cd78cf6d3c747f9b8ac43
